<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fangda.maintain.web.dao.mapper.ContractMapper" >
  <resultMap id="BaseResultMap" type="com.fangda.maintain.web.model.Contract" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="PROJECT_ID" property="projectId" jdbcType="BIGINT" />
    <result column="CONTRACT_NAME" property="contractName" jdbcType="VARCHAR" />
    <result column="CONTRACT_NO" property="contractNo" jdbcType="VARCHAR" />
    <result column="LEGAL" property="legal" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="CONTACT_PERSON" property="contactPerson" jdbcType="VARCHAR" />
    <result column="CONTRACT_TEL" property="contractTel" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="DATE_START" property="dateStart" jdbcType="TIMESTAMP" />
    <result column="DATE_END" property="dateEnd" jdbcType="TIMESTAMP" />
    <result column="DATE_SIGNUP" property="dateSignup" jdbcType="TIMESTAMP" />
    <result column="DOCUMENT_ID" property="documentId" jdbcType="VARCHAR" />
    <result column="PRICE" property="price" jdbcType="DECIMAL" />
    <result column="PAY_DESC" property="payDesc" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="DATE_UPDATED" property="dateUpdated" jdbcType="TIMESTAMP" />
    <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR" />
    <result column="IS_DELETED" property="isDeleted" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    ID, PROJECT_ID, CONTRACT_NAME, CONTRACT_NO, LEGAL, ADDRESS, CONTACT_PERSON, CONTRACT_TEL, 
    EMAIL, DATE_START, DATE_END, DATE_SIGNUP, DOCUMENT_ID, PRICE, PAY_DESC, STATUS, DATE_UPDATED, 
    UPDATED_BY, IS_DELETED
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from fd_contract
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from fd_contract
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.fangda.maintain.web.model.Contract" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into fd_contract (PROJECT_ID, CONTRACT_NAME, CONTRACT_NO, 
      LEGAL, ADDRESS, CONTACT_PERSON, 
      CONTRACT_TEL, EMAIL, DATE_START, 
      DATE_END, DATE_SIGNUP, DOCUMENT_ID, 
      PRICE, PAY_DESC, STATUS, 
      DATE_UPDATED, UPDATED_BY, IS_DELETED
      )
    values (#{projectId,jdbcType=BIGINT}, #{contractName,jdbcType=VARCHAR}, #{contractNo,jdbcType=VARCHAR}, 
      #{legal,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{contactPerson,jdbcType=VARCHAR}, 
      #{contractTel,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{dateStart,jdbcType=TIMESTAMP}, 
      #{dateEnd,jdbcType=TIMESTAMP}, #{dateSignup,jdbcType=TIMESTAMP}, #{documentId,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{payDesc,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{dateUpdated,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, #{isDeleted,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fangda.maintain.web.model.Contract" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into fd_contract
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="projectId != null" >
        PROJECT_ID,
      </if>
      <if test="contractName != null" >
        CONTRACT_NAME,
      </if>
      <if test="contractNo != null" >
        CONTRACT_NO,
      </if>
      <if test="legal != null" >
        LEGAL,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="contactPerson != null" >
        CONTACT_PERSON,
      </if>
      <if test="contractTel != null" >
        CONTRACT_TEL,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="dateStart != null" >
        DATE_START,
      </if>
      <if test="dateEnd != null" >
        DATE_END,
      </if>
      <if test="dateSignup != null" >
        DATE_SIGNUP,
      </if>
      <if test="documentId != null" >
        DOCUMENT_ID,
      </if>
      <if test="price != null" >
        PRICE,
      </if>
      <if test="payDesc != null" >
        PAY_DESC,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="dateUpdated != null" >
        DATE_UPDATED,
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY,
      </if>
      <if test="isDeleted != null" >
        IS_DELETED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="projectId != null" >
        #{projectId,jdbcType=BIGINT},
      </if>
      <if test="contractName != null" >
        #{contractName,jdbcType=VARCHAR},
      </if>
      <if test="contractNo != null" >
        #{contractNo,jdbcType=VARCHAR},
      </if>
      <if test="legal != null" >
        #{legal,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="contactPerson != null" >
        #{contactPerson,jdbcType=VARCHAR},
      </if>
      <if test="contractTel != null" >
        #{contractTel,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="dateStart != null" >
        #{dateStart,jdbcType=TIMESTAMP},
      </if>
      <if test="dateEnd != null" >
        #{dateEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="dateSignup != null" >
        #{dateSignup,jdbcType=TIMESTAMP},
      </if>
      <if test="documentId != null" >
        #{documentId,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="payDesc != null" >
        #{payDesc,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="dateUpdated != null" >
        #{dateUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fangda.maintain.web.model.Contract" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update fd_contract
    <set >
      <if test="projectId != null" >
        PROJECT_ID = #{projectId,jdbcType=BIGINT},
      </if>
      <if test="contractName != null" >
        CONTRACT_NAME = #{contractName,jdbcType=VARCHAR},
      </if>
      <if test="contractNo != null" >
        CONTRACT_NO = #{contractNo,jdbcType=VARCHAR},
      </if>
      <if test="legal != null" >
        LEGAL = #{legal,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="contactPerson != null" >
        CONTACT_PERSON = #{contactPerson,jdbcType=VARCHAR},
      </if>
      <if test="contractTel != null" >
        CONTRACT_TEL = #{contractTel,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="dateStart != null" >
        DATE_START = #{dateStart,jdbcType=TIMESTAMP},
      </if>
      <if test="dateEnd != null" >
        DATE_END = #{dateEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="dateSignup != null" >
        DATE_SIGNUP = #{dateSignup,jdbcType=TIMESTAMP},
      </if>
      <if test="documentId != null" >
        DOCUMENT_ID = #{documentId,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        PRICE = #{price,jdbcType=DECIMAL},
      </if>
      <if test="payDesc != null" >
        PAY_DESC = #{payDesc,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="dateUpdated != null" >
        DATE_UPDATED = #{dateUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        IS_DELETED = #{isDeleted,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fangda.maintain.web.model.Contract" >
    update fd_contract
    set PROJECT_ID = #{projectId,jdbcType=BIGINT},
      CONTRACT_NAME = #{contractName,jdbcType=VARCHAR},
      CONTRACT_NO = #{contractNo,jdbcType=VARCHAR},
      LEGAL = #{legal,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      CONTACT_PERSON = #{contactPerson,jdbcType=VARCHAR},
      CONTRACT_TEL = #{contractTel,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      DATE_START = #{dateStart,jdbcType=TIMESTAMP},
      DATE_END = #{dateEnd,jdbcType=TIMESTAMP},
      DATE_SIGNUP = #{dateSignup,jdbcType=TIMESTAMP},
      DOCUMENT_ID = #{documentId,jdbcType=VARCHAR},
      PRICE = #{price,jdbcType=DECIMAL},
      PAY_DESC = #{payDesc,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      DATE_UPDATED = #{dateUpdated,jdbcType=TIMESTAMP},
      UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      IS_DELETED = #{isDeleted,jdbcType=INTEGER}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>